:root {
  --font-family: 'Roboto', sans-serif;

  --wide-container-width: 1440px;
  --container-width: 1316px;
  --container-padding-x: 62px;

  --header-bg-color: #2196F3;
  --header-text-color: #FFFFFF;
  --header-hieght: 64px;
}