.AppLink {
  height: 100%;

  .link {
    padding-inline: 10px;
    text-decoration: none;
    color: inherit;
    height: 100%;
    display: inline-flex;
    align-items: center;


    &:hover {
      background: #1E88E5;
      color: rgba(255, 255, 255, 0.7);
      transition: .2s;
    }
  }
}